<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>

<header><h1><a href="{% url 'index' %}">Around The World Record Store and Booking Agency</a></h1></header>
<ul>
    <li><a href="{% url 'vinyls' %}">Vinyls</a></li>
    <li><a href="{% url 'artists' %}">Artists we can book</a></li>
    <li><a href="">Services we provide</a></li>
    <li><a href="">Getting started</a></li>
</ul>
{% block content %}

{% endblock %}

<footer>All rights reserved. ©2022</footer>