{% extends 'base.html' %}

{% block title %}<title>{{ vinyl.artist }} - {{ vinyl.title }}</title> {% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"><img id="main-image" src="{{ vinyl.cover_art.url }}"
                                                                  width="100%"/></div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-dark" role="button" onClick="javascript:history.go(-1);">Back</a>
                                </div>
                                <div class="mt-4 mb-3"><span
                                        class="text-uppercase text-muted brand"><a
                                        href="{% url 'artist page' slug=vinyl.artist.slug %}"><h5>{{ vinyl.artist.name }}</h5></a></span>
                                    <h6 class="text-uppercase">{{ vinyl.title }}</h6>

                                </div>
                                <div>Record Label: <a
                                        href="{% url 'label page' slug=vinyl.record_label.slug %}">{{ vinyl.record_label.name }}</a>
                                </div>
                                <div>Cat.#: {{ vinyl.cat_number }}</div>
                                <div class="about">Release date: {{ vinyl.release_date }}</div>
                                <div>Genre: <a href="{% url 'genre page' slug=vinyl.genre.slug %}">{{ vinyl.genre }}</a>
                                </div>
                                <div>Style: <a href="{% url 'style page' slug=vinyl.style.slug %}">{{ vinyl.style }}</a>
                                </div>

                                <div class="price d-flex flex-row align-items-center"><span
                                        class="act-price"><strong>${{ vinyl.price|floatformat:2 }}</strong></span>
                                </div>
                                <div class="cart mt-4 align-items-center">
                                    <button class="btn btn-dark text-uppercase mr-2 px-4">Add to cart</button>
                                    <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}